<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>PBT About</title>
        <meta name="description" content="PBT Test">
        <meta name="author" content="Ritchie Vincent">

        <link rel="stylesheet" href="/css/style.css">

        <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    </head>

    <body>

        <%- copy %>

        <p><%= imgDir %>\<%= image %></p>

    <!--  <script src="js/scripts.js"></script>-->
    </body>
    
</html>