<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>PBT <%= imgDir %></title>
        <meta name="description" content="PBT Test">
        <meta name="author" content="Ritchie Vincent">

        <link rel="stylesheet" href="/css/style.css">

        <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    </head>

    <body>

        <a href="/">Index</a>
        <a href="/about">About</a>
        <a href="/test">Test</a>

        <%- copy %>

        <img src="img/<%= imgDir %>/<%= image %>">

        <!--  <script src="js/scripts.js"></script>-->
        
    </body>
</html>